{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .navbar-item {
            padding-left: 15px;
            padding-right: 15px;
            color: white;
        }
        
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #212121; color: white;">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="{% static 'img/white-humming-bird.png' %}" width="64" height="64">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" style="color: white;">
            <div class="navbar-start">
                <a href="{% url 'index' %}" class="navbar-item">
                    <i class="material-icons">home</i> Home
                </a>


                <a href="{% url 'show-notifications' %}" class="navbar-item">
                    <i class="material-icons">notifications</i> Notifications {% if count_notifications %}
                    <span class="badge">{{ count_notifications }}</span> {% endif %}
                </a>

                <a href="" class="navbar-item">
                    <i class="material-icons">inbox</i> Inbox {% if directs_count %}
                    <span class="badge">{{ directs_count }}</span> {% endif %}
                </a>

                <a href="/new" class="navbar-item">
                    <i class="material-icons">search</i> Other Users!
                </a>

                <a href="{% url 'profile' request.user %}" class="navbar-item">
                    <i class="material-icons">face</i> <strong>{{ request.user }}</strong>
                </a>

                <a href="{% url 'newpost' %}" class="navbar-item">
                    <i class="material-icons">perm_media</i>
                    <strong>New Post</strong>
                </a>
                <div class="search-container center">
                    <form method="GET" action="/search">
                        <input type="" placeholder="Search.." name="query" id="query">
                        <a class="button is-outlined is-danger is-rounded">Submit</a>
                    </form>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
          Settings
        </a>

                    <div class="navbar-dropdown">
                        <a href="{% url 'change_password' %}" class="navbar-item" style="color: black;">
                        Change password
                        </a>
                        <a class="navbar-item" style="color: black;">
            Contact
          </a>
                        <a class="navbar-item" style="color: black;">
            Report an issue
          </a>
                        <hr class="navbar-divider">
                        <a href="{% url 'logout' %}" class="navbar-item" style="color: black;">
            Log out
          </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    {% block banner %} {% endblock %}

    <section class="section">
        <div class="container">

            {% block content %} {% endblock %} {% block pagination %} {% endblock %}

        </div>
    </section>



</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>

</html>